# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Random stuff
*.exe
log*.txt

# Visual studio files and folders
*.sln
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
*.v11.suo
*.vcxproj.user
Debug
Release
Debug_VS2012/
Release_VS2012/

*~
game
.DS_STORE
*.save
.gamefiles/*
CarlGame/tartool
*.tar
*.sav
*.aux
*.log
*.out